/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
}

.timer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value {
  color: #2e2f42;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.label {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

#datetime-picker {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 272px;
  height: 40px;
}

[data-start]:disabled {
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: #cfcfcf;
  pointer-events: none;
  cursor: default;

  color: #989898;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

[data-start] {
  background: #4e75ff;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  border: none;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

[data-start]:hover {
  border-radius: 8px;
  background: #6c8cff;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border: none;
}

/* ===============Task 2================= */
.form {
  padding: 36px;
}

label:first-child {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 30px;
}

label:first-child > input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}

fieldset {
  display: flex;
  justify-content: center;
  gap: 48px;
  width: 360px;
  height: 64px;
  flex-shrink: 0;

  border-radius: 4px;
  border: 1px solid #808080;
}

.form > button {
  border-radius: 8px;
  background: #4e75ff;
  width: 360px;
  padding: 8px 16px;
  border: none;
  margin-top: 24px;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.form > button:hover {
  background: #6c8cff;
}
